@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #cef36f40;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.button-primary {
  @apply bg-gradient-to-t bg-primary hover:bg-[#a4be62] font-semibold rounded-md
   text-gray-900 cursor-pointer border-t-2 border-t-[#ddff88] hover:border-t-[#b3d06a] 
   border-b-2 border-b-[#a0bb5b] ring-[1px] ring-[#181a14] duration-200 active:translate-y-1 shadow-md shadow-black;
}

.button-secondary {
  @apply flex items-center gap-2 px-4 py-2 text-sm rounded-md border-x-2 border-t-2 border-[#212121] 
  bg-[#1b1b1b] hover:bg-[#1e1e1e]  hover:border-[#252525] 
  ring-[1px] ring-neutral-950 shadow-sm shadow-black   duration-200 font-medium active:translate-y-1;
}

.button-red {
  @apply flex items-center gap-2 px-4 py-2 text-sm rounded-md border-x-2 border-t-2 border-rose-900/40 bg-gradient-to-t
   from-rose-700/50 to-rose-800/50 ring-2 ring-rose-950/50 shadow-sm shadow-black hover:bg-rose-950/30 duration-200 font-medium active:translate-y-1;
}

.button-google {
  @apply bg-neutral-100  w-max border-t-2 border-x-2 border-white hover:bg-neutral-200 hover:border-neutral-200 duration-300 shadow-md shadow-black w-full font-medium text-sm text-black rounded-md py-1 flex items-center gap-4 justify-center;
}

.dot-background {
  @apply w-full flex-col gap-20 bg-[#454839]/30 bg-dot-white/[0.15] relative justify-center;
}

p {
  @apply text-neutral-300;
}

.avatar-image {
  @apply w-16 rounded-full cursor-pointer object-cover;
}

h1 {
  @apply text-4xl md:text-6xl font-bold text-white;
}

h2 {
  @apply text-2xl md:text-4xl font-semibold;
}

input,
textarea {
  @apply w-full py-2 text-white bg-neutral-800/50 px-4 rounded-md placeholder-neutral-400 outline-none focus:outline-none border-2 border-neutral-800 focus:border-neutral-700 duration-200;
}

textarea {
  @apply h-24;
}

.error-msg {
  @apply text-red-500 text-sm flex items-center gap-2;
}
