@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #cef36f40;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.button-primary {
  @apply bg-gradient-to-t from-[#d5f387] to-primary font-semibold rounded-md
   text-gray-900 cursor-pointer border-x-2 border-t-2 border-[#d5f387] ring-2 ring-[#2a2e1f] duration-200 active:translate-y-1 shadow-md shadow-black;
}

/* .button-secondary {
  @apply hover:text-primary font-semibold border-2 border-zinc-800 
    hover:border-primary rounded-md duration-300 text-zinc-400 px-4 py-3;
} */

.button-secondary {
  @apply flex items-center gap-2 px-4 py-2 text-sm rounded-md border-x-2 border-t-2 border-[#2b2b2b] bg-gradient-to-t 
  from-[#292929] to-[#191919] ring-2 ring-neutral-950 shadow-lg  hover:bg-neutral-950 duration-200 font-medium active:translate-y-1;
}
.button-red {
  @apply flex items-center gap-2 px-4 py-2 text-sm rounded-md border-x-2 border-t-2 border-rose-900/40 bg-gradient-to-t from-rose-700/50 to-rose-800/50 ring-2 ring-rose-950/50 shadow-lg  hover:bg-rose-950/30 duration-200 font-medium;
}

.dot-background {
  @apply w-full flex-col gap-20 bg-lime-900/20 bg-dot-white/[0.2] relative justify-center;
}

p {
  @apply text-neutral-300;
}

.avatar-image {
  @apply w-16 rounded-full cursor-pointer object-cover;
}

h1 {
  @apply text-4xl md:text-6xl font-bold text-white;
}

h2 {
  @apply text-2xl md:text-4xl font-semibold mb-8;
}

input,
textarea {
  @apply w-full py-2 text-white bg-neutral-800 px-4 rounded-md placeholder-neutral-400 outline-none focus:outline-none border-2 border-neutral-700 focus:border-neutral-500 duration-200;
}

textarea {
  @apply h-24;
}

.error-msg {
  @apply text-red-500 text-sm flex items-center gap-2;
}
